<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062632074684-1a2388f6ufcojmgsgns7pfio33aas9il.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062632074684-1a2388f6ufcojmgsgns7pfio33aas9il</string>
	<key>API_KEY</key>
	<string>AIzaSyALmHK8YLsALFt3mAgjmAY3adoRKj8_NmU</string>
	<key>GCM_SENDER_ID</key>
	<string>1062632074684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.golden.extrip</string>
	<key>PROJECT_ID</key>
	<string>extripapp-8fad1</string>
	<key>STORAGE_BUCKET</key>
	<string>extripapp-8fad1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062632074684:ios:9188c18e7a1a0d0ad54fb9</string>
	<key>DATABASE_URL</key>
	<string>https://extripapp-8fad1-default-rtdb.firebaseio.com</string>
</dict>
</plist>