<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720716746459-4m364nofac53onr3kob3ar7dnf0dlqc2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720716746459-4m364nofac53onr3kob3ar7dnf0dlqc2</string>
	<key>API_KEY</key>
	<string>AIzaSyABbqaONbXKoQMiR0ltE_zBQpN5laTmtrw</string>
	<key>GCM_SENDER_ID</key>
	<string>720716746459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.golden.extrip</string>
	<key>PROJECT_ID</key>
	<string>extrip-travel</string>
	<key>STORAGE_BUCKET</key>
	<string>extrip-travel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720716746459:ios:04f62fc6064494650e06fe</string>
</dict>
</plist>