<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969308525113-ljddmalfro3g585pf5lt4kd3t7mm2tm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969308525113-ljddmalfro3g585pf5lt4kd3t7mm2tm9</string>
	<key>API_KEY</key>
	<string>AIzaSyBAC9e0VCqQAnzwCs2WnMHdKhFbGgcECO0</string>
	<key>GCM_SENDER_ID</key>
	<string>969308525113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jacob.nguyen.ExTrip</string>
	<key>PROJECT_ID</key>
	<string>extrip-4dece</string>
	<key>STORAGE_BUCKET</key>
	<string>extrip-4dece.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969308525113:ios:470d43b2e2f0916d9933e8</string>
</dict>
</plist>